<%- include ('header') %>

    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Application: <%= result.content[0].app_name;%></h4>
                <div class="cripto-live mt-5" style="margin-bottom: 40px;">
                    <ul>
                        <li>
                            <i class="fa fa-asterisk"></i> ID:<span><%= result.content[0].app_id;%></span></li>
                        <li>
                            <i class="fa fa-asterisk"></i> Name:<span><%= result.content[0].app_name;%></span></li>
                        <li>
                            <i class="fa fa-asterisk"></i> Description:<span><%= result.content[0].description;%></span></li>
                        <li>
                            <i class="fa fa-asterisk"></i> Privacy Policy Link:<span><a target="_blank" href="<%= result.content[0].privacy_policy_link;%>"><%= result.content[0].privacy_policy_link;%></a></span></li>
                        <li>
                            <i class="fa fa-asterisk"></i> Icon:<span><img  src="<%= result.content[0]['icon_image']; %>" width="35px" height="35px"></span></li>
                        <li>
                            <i class="fa fa-asterisk"></i> Image:<div style="margin: 10px 0px;"><img src="<%= result.content[0].background_image;%>" width="300px" height="300px"></div></li>
                    </ul>
                </div>
                <h6>App Privacy Officer Contact Details:</h6>
                <div class="cripto-live mt-4">
                    <ul>
                        <li>
                            <i class="fa fa-asterisk"></i> Contact Link:<span><%= result.contacts[0].contact_link;%></span></li>
                        <li>
                            <i class="fa fa-asterisk"></i> Email Address:<span><%= result.contacts[0].email_address;%></span></li>
                        <li>
                            <i class="fa fa-asterisk"></i> Address:
                            <span>
                                <% if (result.contacts[0].first_line!=="" && result.contacts[0].first_line) { %>
                                    <%= result.contacts[0].first_line;%>,
                                    <br>
                                <% } %>
                                <% if (result.contacts[0].second_line!=="" && result.contacts[0].second_line) { %>
                                    <%= result.contacts[0].second_line;%>,
                                    <br>
                                <% } %>
                                <% if (result.contacts[0].third_line!=="" && result.contacts[0].third_line) { %>
                                    <%= result.contacts[0].third_line;%>,
                                    <br>
                                <% } %>
                                <% if (result.contacts[0].fourth_line!=="" && result.contacts[0].fourth_line) { %>
                                    <%= result.contacts[0].fourth_line;%>
                                <% } %>
                                <% if (result.contacts[0].first_line=="" || !result.contacts[0].first_line) { %>
                                    <i style="color: grey;">Unavailable</i>
                                <% } %>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Data Types Collected
                    <button class="btn btn-rounded btn-xs btn-success ml-3"><i class="fa fa-plus"></i></button>
                </h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Data Type</th>
                                    <th scope="col">Date Modified</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (result.types.length > 0) { %>
                                <% for (var i = 0; i < result.types.length; i++) { %>
                                <tr>
                                    <th scope="row"><%= i+1; %></th>
                                    <td><%= result.types[i]['data_type_id']; %></td>
                                    <td><a><%= result.types[i]['data_type_name']; %></a></td>
                                    <td><%= result.types[i]['date_modified']; %></td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <% } %>
                            <% } else { %>
                                <tr style="text-align: center; padding: 100px;"><td colspan="6">No results found.</td></tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Data Usage Policy
                    <button class="btn btn-rounded btn-xs btn-success ml-3"><i class="fa fa-plus"></i></button>
                </h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Usage Policy</th>
                                    <th scope="col">Date Modified</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (result.usages.length > 0) { %>
                                <% for (var i = 0; i < result.usages.length; i++) { %>
                                <tr>
                                    <th scope="row"><%= i+1; %></th>
                                    <td><%= result.usages[i]['id']; %></td>
                                    <td class="text-left"><a><%= result.usages[i]['policy']; %></a></td>
                                    <td><%= result.usages[i]['date_modified']; %></td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li class="mr-3"><a href="#" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                            <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <% } %>
                            <% } else { %>
                                <tr style="text-align: center; padding: 100px;"><td colspan="6">No results found.</td></tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Data Removal Policy
                    <button class="btn btn-rounded btn-xs btn-success ml-3"><i class="fa fa-plus"></i></button>
                </h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Removal Policy</th>
                                    <th scope="col">Date Modified</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (result.removals.length > 0) { %>
                                <% for (var i = 0; i < result.removals.length; i++) { %>
                                <tr>
                                    <th scope="row"><%= i+1; %></th>
                                    <td><%= result.removals[i]['id']; %></td>
                                    <td class="text-left"><a><%= result.removals[i]['policy']; %></a></td>
                                    <td><%= result.removals[i]['date_modified']; %></td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li class="mr-3"><a href="#" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                            <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                <% } %>
                            <% } else { %>
                                <tr style="text-align: center; padding: 100px;"><td colspan="6">No results found.</td></tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include ('footer') %>