<%- include ('header') %>

    <div class="col-12 mt-5">
        <div class="card form-card">
            <div class="card-body">
                <h4 class="header-title">Add New App Background Image</h4>
                <form action="/apps/edit_appbg?id=<%= id %>" method="POST" enctype="multipart/form-data">
                    <% if (locals.error) { %>
                        <div class="alert alert-danger error-msg"><%= error %></div>
                    <% } %>
                    <div class="form-group">
                        <label for="id" class="col-form-label">ID</label>
                        <input class="form-control" type="text" id="id" name="id" value="<%= id %>" readonly required>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Background Image</label>
                        <input class="form-control-file" type="file" accept="image/*" id="bg" name="app_bg" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Submit</button>
                    <a href="/apps/app?app_id=<%= result[0].app_id %>" class="btn btn-secondary mt-4 pr-4 pl-4" style="color: #FFF;">Cancel</a>
                </form>
            </div>
        </div>
    </div>

<%- include ('footer') %>