<%- include ('header') %>

    <!-- Progress Table start -->
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Categories Table
                    <a class="btn btn-rounded btn-xs btn-success ml-3" href="/categories/add"><i class="fa fa-plus"></i></a>
                </h4>
                <div class="single-table">
                    <div class="table-responsive">
                        <table class="table table-hover progress-table text-center">
                            <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Icon</th>
                                    <th scope="col">action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% if (result.length > 0) { %>
                                <% for (var i = 0; i < result.length; i++) { %>
                                <tr>
                                    <th scope="row"><%= i+1; %></th>
                                    <td><%= result[i]['category_id']; %></td>
                                    <td><%= result[i]['category_name']; %></td>
                                    <td><span class="material-icons md-36">&#x<%= result[i]['icon_link']; %></span></td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li class="mr-3"><a href="/categories/edit?id=<%= result[i]['category_id']; %>" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                            <% id = result[i]['category_id']; %>
                                            <% if (result[i]['app_count'] > 0) { %>
                                                <li><a class="text-secondary" style="pointer-events: none;"><i class="ti-trash"></i></a></li>
                                            <% } else { %>
                                                <li><a onclick="return confirmDelete('/categories/delete?id=<%= id %>');" class="text-danger"><i class="ti-trash"></i></a></li>
                                            <% } %>
                                        </ul>
                                    </td>
                                </tr>
                                <% } %>
                            <% } else { %>
                                <tr style="text-align: center; padding: 100px;"><td colspan="5">No results found.</td></tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Progress Table end -->

<%- include ('footer') %>